@model List<YummyProject.Models.Feature>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öne Çıkan Alan</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Resim</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.FeatureId</th>
                <td><img src="@item.ImageUrl" style="width:50px;height:50px" /> </td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-info">Güncelle</a></td>
            </tr>


        }
    </tbody>
</table>
<br />
<a href="/Feature/AddFeature/" class="btn btn-primary">Yeni Öne Çıkan Ekle</a>

