@model YummyProject.Models.Feature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Öne Çıkan Güncelleme Sayfası</h2>

<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.FeatureId)


    <label>Öne Çıkan Resmi Yükleyin</label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />

     
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })


    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })


    <br />
    <label>Video Url</label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })


    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>


