@model List<YummyProject.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Neden Biz (Hizmetler) Alanı</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>İkon</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ServiceId</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Icon</td>
                <td><a href="/WhyUs/DeleteWhyUs/@item.ServiceId" class="btn btn-danger">Sil</a></td>
                <td><a href="/WhyUs/UpdateWhyUs/@item.ServiceId" class="btn btn-info">Güncelle</a></td>
            </tr>


        }
    </tbody>
</table>
<br />
<a href="/WhyUs/AddWhyUs/" class="btn btn-primary">Hizmetlere Ekle</a>

